In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

dataset = pd.read_csv('spam.csv')
dataset 
dataset['class'] = dataset['class'].map({'G1': 0, 'AC': 1})
dataset.head(2)
X = dataset.iloc[:,:-1]
y = dataset['class']
from sklearn.linear_model import LogisticRegression
regressor = LogisticRegression()
#Fitting model with trainig data
regressor.fit(X, y)

# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

# Loading model to compare the results
#model = pickle.load(open('model.pkl','rb'))

    tenure in days class
0              100    AC
1              200    AC
2              300    AC
3               40    AC
4               10    G1
5               50    AC
6               98    G1
7              300    AC
8              200    G1
9              400    G1
10             500    AC
11             100    AC
12              30    G1
13             300    AC
14             400    G1
15             500    AC
16             240    AC
17             360    AC
18             470    AC
19             540    G1
20             440    G1
21             340    G1
22             650    AC
23             340    AC

   tenure in days  class
0             100      1
1             200      1

In [21]:
X.head()
y.head()

0    1
1    1
2    1
3    1
4    0
Name: class, dtype: int64